*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant;
}
@font-face {
    font-family: Assistant;
    src: url(../font/Assistant.ttf);
}
body{
    overflow-x: hidden;
}
/* Custom Classes start */
.bg-pink{background: #f41cb2;}
.bg-gray{background: #fbfbfd;}
.bg-orange{background: #f26a10;}
.bg-purple{background: #bd10f2;}
.text-pink{color: #fb56c1;}
.text-red{color: #ee5f73;}
.text-orange{color: #f26a10;}
.text-yellow{color: #f2c210;}
.text-blue{color: #0db7af;}
.text-small{
    font-size: 14px;
    letter-spacing: normal;
}
.text-vsmall{
    font-size: 11px;
    letter-spacing: normal;
}
.text-normal{
    font-size: 16px;
    letter-spacing: normal;
    color: #9c9696;
}
.text-heading{
    font-size: 28.8px;
    font-weight: 700;
    letter-spacing: 4.32px;
    color: #3e4152;
}
.text-footheading{
    font-size: 12px;
    font-weight: 700;
    color : #3e4152;
}
.text-footers{
    font-size: 15px;
    color : #7e7f88;
}
.w-33{width: 33%;}
.m-55{margin-left: -55px;}
.m-134{margin-left: -134px;}
.m-190{margin-left: -190px;}
.m-321{margin-left: -321px;}
/* Navbar starts */
.sticky-top {
    z-index: 100;
}
.nav-link{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight:bolder;
    color: #5c5858;
    margin-left: 9px;
}
.dropdown-toggle::after{
    display: none;
}
.searchbox .form-control{
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}
.dropdown:hover .dropdown-menu{
    display: block;
    box-shadow: #dddbdb 0px 450px 0px 450px;
}
.nav-item{
    padding-top: 16px;
    min-height: 80px;
}
.dropdown-menu{
    --bs-dropdown-min-width: 20rem;
    margin-top: 19px;
}
.men:hover{
    border-bottom: #ee5f73 3px solid;
}
.women:hover{
    border-bottom: #fb56c1 3px solid;
}
.kids:hover{
    border-bottom: #f26a10 3px solid;
}
.home:hover{
    border-bottom: #f2c210 3px solid;
}
.beauty:hover{
    border-bottom: #0db7af 3px solid;
}
.studio:hover{
    border-bottom: #ee5f73 3px solid;
}
.profile:hover{
    border-bottom: #ee5f73 3px solid;
}
hr{
    color:#a5a2a2;
}
.dropdown-item{
    padding: 1px 2px;
}
.dropdown-item:active {
    color:#5c5858;
    text-decoration: none;
    background-color:#ffffff ;
}
.dropdown-item:hover {
    font-weight: bold;
    background-color:inherit ;
}
.dropdown-item .fixed{
    color: #f41cb2;
    font-weight: bolder;
}
table tr td li{
    width: 190px;
}
.table tr{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    column-gap: 15px;
}
.studioImg{
    max-width: 514px;
}
.profileDropdown{
    margin-left: -100px;
    margin-top: 7px;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0;
}
/* Medal Section Starts */

.swiper1 img{
    height: 295px;
    width: 222px;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom:0px;
    top: 100;
    left: 0;
    right: 0;
 }
/* Shop by Category Section Starts */

.flex-wrap img{
    width: 222px;
    height: 294px;
    padding: 15px;
}
/* Footer Section Starts */
footer a{
    text-decoration: none;
    color: #5c5858;
}
/* aside section starts */
aside ul li{
    padding: 1px 12px;
}
aside p{
    padding: 6px 12px;
}

/* Product Item Card Style starts */
.cardImage{
    overflow: hidden;
}
#addcart{
    transition: 0.45s ease;
    position: absolute;
    bottom:-24%;
}
.cardImage:hover #addcart{
    position: absolute;
    bottom: 3.3px;
}
#addcart:active{
    background-color: #3e4152 !important;
    color:#ffffff !important;
}
/* Responsive section starts ==========================================================================================*/
@media screen and (max-width:1200px) {
    .table tr{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 12px;
    }
    .w-33{width: 100%;}
    .m-55{margin-left: 0px;}
    .m-134{margin-left: 0px;}
    .m-190{margin-left: 0px;}
    .m-321{margin-left: 0px;}
    .profileDropdown{
        margin-left: 9px;
        
    }
    /* .container-fluid{
        --bs-gutter-x:0px;
    } */
}
@media screen and (max-width:992px) {
    .table tr{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 12px;
    }
}
@media screen and (max-width:786px) {
    .table tr{
        display: grid;
        grid-template-columns: auto auto auto ;
        column-gap: 10px;
    }
    .studioImg{
        max-width: 650px;
    }
    .text-heading{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2.32px;
        color: #3e4152;
        padding-left: 9px;
    }
}
@media screen and (max-width:650px) {
    .studioImg{
        max-width: 550px;
    }
}
@media screen and (max-width:576px) {
    .table tr{
        display: grid;
        grid-template-columns: auto auto  ;
        column-gap: 7px;
    }
    .studioImg{
        max-width: 400px;
    }
    .flex-wrap img{
        width: 222px;
        height: 294px;
        padding: 5px;
    }
}
@media screen and (max-width:431px) {
    .flex-wrap img{
        width: 200px;
        height: 270px;
        padding: 5px;
    }
}
@media screen and (max-width:400px){
    .studioImg{
        max-width: 300px;
    }
    .flex-wrap img{
        width: 150px;
        height: 220px;
        padding: 5px;
    }
}
@media screen and (max-width:300px){
    .flex-wrap img{
        width: 130px;
        height: 170px;
        padding: 5px;
    }
}
@media screen and (max-width:350px) {
    .table tr{
        display: grid;
        grid-template-columns: auto ;
    }
    .dropdown-menu{
        --bs-dropdown-min-width: 10rem;
    }
    .studioImg{
        max-width: 250px;
    }
}
